includes:
	- phar://%rootDir%/phpstan.phar/conf/bleedingEdge.neon

parameters:
	level: max
	paths:
		- src
		- tests/cases
		- tests/inc
		- tests/bootstrap.php
	fileExtensions:
		- php
		- phpt
	earlyTerminatingMethodCalls:
		Tester\Assert:
			- fail
	ignoreErrors:
		# https://github.com/phpstan/phpstan/issues/587
		- '#Constructor of class Nextras\\Orm\\Bridges\\NetteDI\\DIRepositoryFinder has an unused parameter \$modelClass\.#'
		-
			# Compatibility fix with Nette 2.4
			message: '#^Instanceof between Nette\\DI\\Definitions\\Definition and Nette\\DI\\Definitions\\ServiceDefinition will always evaluate to false\.$#'
			path: 'src/Bridges/NetteDI/DIRepositoryFinder.php'

	treatPhpDocTypesAsCertain: false

	# strict rules
	polluteScopeWithLoopInitialAssignments: false
	polluteScopeWithAlwaysIterableForeach: false
	#checkAlwaysTrueCheckTypeFunctionCall: true
	#checkAlwaysTrueInstanceof: true
	#checkAlwaysTrueStrictComparison: true
	checkFunctionNameCase: true
	reportMaybesInMethodSignatures: true
	reportStaticMethodSignatures: true

services:
	-
		class: NextrasTests\Orm\PHPStan\AssertTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
