extensions:
	orm: Nextras\Orm\Bridge\NetteDI\OrmExtension
	testOrm: Nextras\Orm\Bridge\NetteDI\OrmTestsExtension

orm:
	model: NextrasTests\Orm\Model


testOrm:
	model: NextrasTests\Orm\Model


nette:
	database:
		dsn: %database_dsn%
		user: %database_username%
		password: %database_password%
		options:
			lazy: on
