array:
	extensions:
		orm: Nextras\Orm\Bridges\NetteDI\OrmTestsExtension
	orm:
		model: NextrasTests\Orm\Model


pgsql:
	extensions:
		dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
		orm: Nextras\Orm\Bridges\NetteDI\OrmTestsExtension
	dbal:
		driver: pgsql
		host: localhost
		database: nextras_orm_test
		username: postgres
		password:
	orm:
		model: NextrasTests\Orm\Model
		testingMappers: false


mysql:
	extensions:
		dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
		orm: Nextras\Orm\Bridges\NetteDI\OrmTestsExtension
	dbal:
		driver: mysqli
		host: 127.0.0.1
		database: nextras_orm_test
		username: root
		password:
	orm:
		model: NextrasTests\Orm\Model
		testingMappers: false
