extensions:
	nextras.dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmTestsExtension

nextras.dbal:
	driver: mysqli
	host: 127.0.0.1
	database: nextras_orm_test
	username: root
	password:

nextras.orm:
	model: NextrasTests\Orm\Model
	testingMappers: false
