extensions:
	nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension

nextras.orm:
	model: NextrasTests\Orm\Model
	repositoryFinder: Nextras\Orm\Bridges\NetteDI\TestMapperPhpDocRepositoryFinder
	extensions:
		- @NextrasTests\Orm\TestExtension

services:
	- Nextras\Orm\TestHelper\EntityCreator
	- NextrasTests\Orm\TestExtension
