extensions:
	nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	nextras.dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	nette.cache: Nette\Bridges\CacheDI\CacheExtension(%tempDir%)

nextras.orm:
	repositoryFinder: Nextras\Orm\Bridges\NetteDI\DIRepositoryFinder

services:
	- NextrasTests\Orm\TimeSeriesRepository(NextrasTests\Orm\ContentsMapper())
	- Nette\Caching\Cache
