extensions:
	nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	nextras.dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	nette.cache: Nette\Bridges\CacheDI\CacheExtension(%tempDir%)

nextras.orm:
	model: NextrasTests\Orm\Model
	repositoryFinder: Nextras\Orm\Bridges\NetteDI\DIRepositoryFinder

services:
	- NextrasTests\Orm\ContentsRepository(NextrasTests\Orm\ContentsMapper())
	- Nette\Caching\Cache
